name: sprig
description: A flutter plugin for sprig https://sprig.com/. Sprig is a micro-survey automation platform.
version: 0.3.0+2
homepage: https://github.com/disparta/sprig
repository: https://github.com/disparta/sprig/tree/main/sprig

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

  sprig_platform_interface: ^0.0.4+1
  sprig_web: ^0.0.8+3

dev_dependencies:
  flutter_test:
    sdk: flutter
    
flutter:
  plugin:
    platforms:
      android:
        package: com.sprig
        pluginClass: SprigPlugin
      ios:
        pluginClass: SprigPlugin
      web:
        default_package: sprig_web